<%- include("../partials/header") -%>

<div class="container p-5">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item">Item 1</li>
                <li class="list-group-item">Item 1</li>
                <li class="list-group-item">Item 1</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img src="<%= campground.url %>" class="img-fluid mx-auto">
                <div class="card-body">
                    <h3 class="card-title text-primary"><%= campground.name%></h5>
                        <h5 class="card-title pricing-card-title">$15<small class="text-muted">/per night</small></h1>
                            <p class="card-text"><%= campground.description %></p>
                            <p class="card-text">Submitted by <b><%= campground.author.username %></b></p>
                </div>
            </div>
            <div class="card card-body bg-light mt-2">
                <div class="mb-3">
                    <a class="btn btn-primary float-right" href="/camps/<%= campground._id %>/comment/new">Leave
                        Review</a>
                </div>
                <% campground.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <b><%= comment.author.username %> </b>
                        <span class="float-right">10 days ago</span>
                        <p> <%= comment.text%> </p>
                    </div>
                </div>
                <% }); %>
            </div>

        </div>
    </div>
</div>







<%- include("../partials/footer") -%>
